{% extends 'base.html' %}

{% block head %}
  <style>
    table {
      margin: auto;
      width: 100%;
    }
    td:nth-of-type(2) {
      width: 90%;
    }
    input{
      font-family: 'GangwonEdu_OTFBoldA';
      font-size: 18px;
    }
    input[type=text] {
      width: 100%;
      height: 20px;
      border: 1px solid;
      border-radius: 5px;
    }
    textarea {
      font-family: 'GangwonEdu_OTFBoldA';
      width: 100%;
      border: 1px solid;
      border-radius: 5px;
    }
    .right {
      text-align: right;
      padding-top: 20px;
    }
    .button {
      background-color: Khaki;
      color: SaddleBrown;
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 10px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>글쓰기</h1>

  <!-- [코드 추가] form의 전달방식을 post로 설정하기 -->
  <form action="">
    <!-- [코드 작성] csrf_token 설정하기 -->
    
    <table>
      <tr>
        <td><label for="title">제목</label></td>
        <td><input class="title" name="title" id="title" type="text"></td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <td colspan="2">
          <label for="content">내용</label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </td>
      </tr>
    </table>
    <div class="right">
      <input class="button" type="submit" value="등록">
    </div>
  </form>
{% endblock %}