{% extends 'base.html' %}

{% block head %}
  <style>
    .right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* align-items : flex-direction 방향을 기준으로 정렬 */
      justify-content: right;
      text-align: right;
      padding-bottom: 20px;
    }
    .button {
      padding: 5px 10px;
      border: 1px solid;
      border-radius: 10px;
      background-color: Khaki;
      color: SaddleBrown;
      text-decoration: none;
    }
    table {
      width: 100%;
      margin: auto;
    }
    .index {
      width: auto;
      text-align: center;
    }
    .title {
      /* 45vw : 현재 스크린의 넓이를 기준으로 45%의 넓이를 차지 */
      width: 45vw;
      padding: 5px 20px;
    }
    .date {
      width: auto;
      text-align: center;
    }
    th {
      padding: 5px;
      border-bottom: 2px solid;
    }
    td {
      padding: 5px 10px;
      border-bottom: 1px solid;
    }
    td a {
      color: black;
      text-decoration: none;
    }
    td a:hover {
      color: purple;
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>작성 글 목록</h1>

  <div class="right">
    <a class="button" href="{% url 'page:create' %}">글쓰기</a>
  </div>

  <table>
    <tr>
      <th class="index">번호</th>
      <th class="title">제목</th>
      <th class="date">날짜</th>
    </tr>
    <!-- [코드 추가] reversed를 이용해 for문을 거꾸로 반복하기 -->
    {% for post in posts %}
      <tr>
        <!-- [코드 수정] 반복문의 index를 거꾸로 가져오는 revcounter 사용 -->
        <td class="index">{{forloop.counter}}</td>
        <td class="title"><a href="{% url 'page:detail' post.id %}">{{post.title}}</a></td>
        <!-- [코드 추가] 날짜를 보여주는 형식을 'Y-m-d'로 지정하기 -->
        <td class="date">{{post.date}}</td>
      </tr>
    <!-- for문의 리스트가 비어있을 경우에 보여주는 내용 -->
    {% empty %}
      <tr>
        <td class="index">-</td>
        <td class="title">글을 작성해주세요.</td>
        <td class="date">-</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}