{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jgDjango</title>
  <link rel="icon" href="{% static 'image/favicon-96x96.png' %}">
  <!-- css를 적용시켜주는 코드를 붙여넣기 -->
  
</head>
<body>
  <div class="navbar">
    <span>
      <a href="{% url 'page:index' %}">
        <img class="logo" src="{% static 'image/jgcat.jpg' %}" alt="jgcat">
      </a>
    </span>
    <span>
      <a href="{% url 'page:read' %}">글목록</a>
    </span>
    <span>
      <a href="{% url 'page:create' %}">글쓰기</a>
    </span>
    <span>
      <a href="{% url 'game:rsp' %}">가위바위보 게임</a>
    </span>
  </div>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>